/** Solamente se puede modificar este fichero! Usa con astucia los selectores para aplicar las propiedades CSS adecuadas dependiendo del caso  */

/** Ejemplo: Si quisiera pintar el h1 de rojo pondría */

/* h1 {
    color: red;
} */


.published-date {
    color: #F77D00;
}

div.site-header__body {
    background-color: rgba(132, 0, 197, 0.3) ;
}

.wysiwyg h4 {
    text-align: center;
}

.logos-social-networks {
    display: flex;
    justify-content: center;
} 